#retro-blog-navigation {
    float: right;
    width: 160px;
}

#retro-blog-navigation dt {
    font-family: Georgia, "DejaVu Serif", "Bitstream Vera Serif", "Vera Serif", serif;
    padding: 0;
    margin-top: 0;
    font-size: 125%;
}

#retro-blog-navigation dd {
    padding: 0;
    margin: 2px 0 0 0;
}


.retro-blog {
    margin: 0 200px 2em 0;
}

.retro-blog h1:first-child {
    margin-top: 0;
}

.retro-blog h1.first {
    margin-top: 0;
}


.retro-blog .body {
    font-family: Georgia, "DejaVu Serif", "Bitstream Vera Serif", "Vera Serif", serif;
    font-size: 103%;
}

.retro-blog .posted-by {
    font-style: italic;
    color: #999;
}

.retro-blog .content {
}

.retro-blog .categories {
    font-style: italic;
    margin: 1em 0 0 0;
}

.retro-blog .comments {
    border-top: 1px solid #eee;
    margin: 2em 0 0 0;
}

.retro-blog .comments h2 {
    margin: 1em 0 0 0;
}

.retro-blog .comments dl {
    padding: 0.5em 1em;
}

.retro-blog .comments dt {
    margin: 0;
}

.retro-blog .comments dd {
    margin: 0 0 1em 1em;
}

.retro-blog #blog-comment-new-form {
    margin: 3em 0 0 0;
}

.retro-blog .posted-by .inplaceeditor-form {
    margin: 2px 0;
    font-size: 90%;
}


/*
     FILE ARCHIVED ON 22:09:58 Oct 01, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:11:21 Jun 08, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 166.636
  exclusion.robots: 0.194
  exclusion.robots.policy: 0.187
  RedisCDXSource: 0.523
  esindex: 0.006
  LoadShardBlock: 147.154 (3)
  PetaboxLoader3.datanode: 153.243 (4)
  CDXLines.iter: 16.27 (3)
  load_resource: 52.492
  PetaboxLoader3.resolve: 35.554
*/
