/*******************************************
 *
 * GENERAL
 *
 *******************************************/

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-size: 0.8em;
    font-family: "Sans", "Arial", "Helvetica", sans-serif;
}

small {
    font-size: 85%;
}

a {
    color: #44aa00;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #44aa00;
}

img {
    border: none;
}

a:hover > img {
    background: none;
    color: #000;
}

table {
    border-collapse: collapse;
}

dt {
    margin: 1em 0 0.5em 0;
    font-weight: bold;
    font-size: 105%;
}

dd {
    font-size: 105%;
    margin: 0 0 0 2em;
    padding: 0;
}

ul {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

li {
    margin: 5px 0;
}


h1 {
    font-size: 180%;
    padding: 0;
    margin: 1.25em 0 0.25em 0;
}

h2 {
    font-size: 150%;
    padding: 0;
    margin: 1.25em 0 0.25em 0;
}

h3 {
    font-size: 125%;
    padding: 0;
    margin: 1em 0 0.25em 0;
}

h4, h5, h6 {
    font-size: 100%;
    margin: .75em 0 0.25em 0;
}


input[type=submit], input[type=button], input[type=reset] {
    padding: 1px 20px !important;
    color: #217821;
    font-size: 90%;
    font-weight: bold;
    margin: 0;
}

input[type=checkbox] {
    margin: 3px 0 1px 0;
}

textarea {
    width: 100%;
}

form fieldset {
    display: block;
    margin: 1em 0 0.5em 0;
    padding: 10px 20px 15px 20px;
    border: 1px solid #ccc;
    background: #f6f6f9;
}

form fieldset legend {
    color: #217821;
    padding: 2px 15px 2px 15px;
    border: 1px solid #ccc;
    background: #fff;
    margin-left: -1px;
    font-weight: bold;
    font-size: 105%;
}

form fieldset input[type=submit], input[type=button] {
    padding: 3px 40px;
}

form fieldset label {
    color: #217821;
    display: block;
    font-weight: bold;
    margin: 2px 0;
}

form fieldset label.inline {
    display: inline;
}

form fieldset .description {
    color: #999;
    font-size: 90%;
    margin: 3px 0 0 0;
    padding: 5px 10px;
    border: 2px solid #ddd;
    background-color: #fff;
}

form fieldset .description p {
    padding: 0;
    margin: 0;
}

form fieldset ul {
}

form fieldset ul li {

}

pre {
    padding: 0.75em 1em;
    border: 1px solid #eee;
    background-color: #f9f9fc;
    overflow: auto;
}

code {
    font: 115% monospace;
}


blockquote {
    display: block;
    margin: 1em 1em 0 1em;
    padding: 0;
    font-size: 95%;
    line-height: 17px;
    font-style: italic;
}

/*******************************************
 *
 * LAYOUT
 *
 *******************************************/

.page-title {
    font-weight: bold;
    font-size: 200%;
    margin: 0 0 0.5em 0;
}

#container {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

#header {
    width: 100%;
    /*  background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/bg.header.png); */
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #fff;
    position: relative;
}

#header .informative {
    position: relative;
}

#header .informative #login-info {
    position: absolute;
    right: 15px;
    top: 5px;
    text-align: right;
    font-size: 85%;
    color: #217821;
}

#header .informative #project-info {
    position: absolute;
    font-size: 130%;
    font-weight: bold;
    color: #fff;
    right: 15px;
    bottom: 5px;
}

#header .informative #logo {
    padding: 10px 0 5px 15px;
}

#header .informative #logo a {
    outline: none;
}

#header .informative #logo a:hover {
    background: none;
}

#header #menu {
    background-color: #fafafa;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding: 0;
    font-size: 105%;
    overflow: auto;
}

#header #menu a {
    outline: none;
}

#header #menu ul {
    margin: 0;
    padding: 2px 0;
    list-style: none;
}

#header #menu ul#main-navigation {
    float: left;
}

#header #menu ul#base-navigation {
    text-align: right;
}

#header #menu ul li {
    display: inline;
    font-weight: bold;
}

#header #menu ul li a {
    padding: 2px 15px;
}


#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 50;
    border-top: 1px solid #ccc;
    font-size: 90%;
    opacity: 0.9;
    height: 28px;
    background-color: #fafafa;
}

#footer a {
    padding: 1px;
}

#footer a:hover {
    background: none;
    border-bottom: 1px dotted #44aa00;
    color: #000;
}

#footer #powered-by {
    padding: 8px 25px 0 0;
    float: right;
}

#footer #powered-by img {
    vertical-align: text-top;
}

#footer #rss-link {
    font-weight: bold;
    margin: 8px 0 0 15px;
}

#footer #rss-link img {
    vertical-align: text-top;
    margin-right: 3px;
}


#content {
    margin: 20px 10px 0 10px;
    padding: 0 20px 60px 20px;
    max-width: 1160px;
}

ul#breadcrumbs {
    margin: 0 0 1em 0;
    padding: 0;
}

ul#breadcrumbs li {
    display: inline;
    color: #217821;
    margin: 0;
    padding: 0 0 0 10px;
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/bc.png);
    background-repeat: no-repeat;
    background-position: center left;
}

ul#breadcrumbs li.first {
    padding: 0;
    background-image: none;
}

div.slim {
    width: 760px;
}


/* Record list */

table.recordList {
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 10px 0;
    color: #222;
}

table.recordList tbody {
    border: 1px solid #666;
}


table.recordList td, table.recordList th {
    margin: 0;
    padding: 1px 5px;
}


table.recordList .header {
    background-color: #217821;
    border: 1px solid #217821;
    color: #fff;
}

table.recordList .header th {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/record_list/header_bg.gif);
    background-repeat: repeat-x;
    color: #fff;
    padding: 3px 5px;
}

table.recordList .header th.sortable {
    cursor: pointer;
}

table.recordList .header th.sortable img {
    margin: 0 0 0 2px;
    vertical-align: middle;
}

table.recordList .header th.sortable:hover {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/record_list/header_bg_ro.gif);
    background-repeat: repeat-x;
}

table.recordList .header th.active {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/record_list/header_bg_act.gif);
    background-repeat: repeat-x;
    border-left: 1px solid #217821;
    border-right: 1px solid #217821;
}

table.recordList .navigation {
    font-weight: bold;
    color: #444;
    font-size: 95%;
    background-color: #fff;
}

table.recordList .navigation td {
    text-align: right;
}

table.recordList tr.even {
    background-color: #fafafa;
}

table.recordList tr.odd {
    background-color: #eee;
}

table.recordList tr.clickable {
    cursor: pointer;
}

table.recordList tr.clickable:hover {
    background-color: #ddd;
}

table.recordList .header th.left {
    text-align: left;
}

table.recordList .slim-column {
    width: 5em;
}

table.recordList .slimmer-column {
    width: 4em;
}

table.recordList .very-slim-column {
    width: 3em;
}

table.recordList .ultra-slim-column {
    width: 1em;
}

table.recordList td.centered {
    text-align: center;
}

table.recordList tfoot {
    font-weight: bold;
    color: #444;
    font-size: 90%;
}

table.recordList tfoot td.perpage {
    text-align: right;
}


/* Internal navigation */

.internal-navigation {
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    background-color: #f6f6f9;
    border: 1px solid #ccc;
}

.internal-navigation dl {
    overflow: auto;
    margin: 0;
    padding: .25em 0;
    clear: left;
}

.internal-navigation dl dt {
    width: 80px;
    margin: 0;
    padding: 0;
    float: left;
}

.internal-navigation dl dd {
    margin: 0 0.5em 0 100px;
}

.internal-navigation dd, .internal-navigation dd p {
    font-weight: normal;
    color: #000;
}

.internal-navigation dd p {
    margin: 0 0 1px 0;
    padding: 0;
}

.internal-navigation dd a {
    padding: 1px;
}

.internal-navigation dd a:hover {
}

.internal-navigation dd a.active {
    color: #000;
}

.internal-navigation dd img {
    vertical-align: middle;
}

.internal-navigation dd div.filter-option {
    margin: 0 1.5em 0 0;
    float: left;
}


.markup table {
    border-collapse: separate;
    border: 1px solid #aaa;
}

.markup th, .markup td {
    border: 1px solid #ddd;
    padding: 0.2em 0.5em;
}

.markup h1,
.markup h2,
.markup h3,
.markup h4,
.markup h5,
.markup h6 {
    margin: 1em 0 0 0;
}


.markup-preview {
    height: 300px;
    overflow: auto;
    border: 1px solid #999;
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/preview.png);
    background-position: center center;
    background-color: #ddd;
    padding: .5em;
    color: #217821;
}

.markup-preview pre {
    background-color: transparent;
    border: none;
}


.markup-editor {
    height: 300px;
    font-family: monospace;
}

.markup-area-link {
    margin-top: 2px;
    text-align: right;
}

.highlight {
    color: #c00;
    font-weight: bold;
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 0 1px;
}

.full-width {
    width: 100%;
}

.block {
    margin: 0.5em 0 1em 0;
}

.clear-floats {
    clear: both;
}


/*******************************************
 *
 * RAILS SPECIFIC
 *
 *******************************************/

.errorExplanation {
    margin-bottom: 20px;
    font-size: 90%;
}

.errorExplanation h3, .errorExplanation h2 {
    background: #e33;
    padding: 3px;
    margin-bottom: 0;
    font-size: 110%;
    color: #fff;
}

.errorExplanation ul {
    background: #fff;
    list-style: square;
    border-bottom: 2px solid #e33;
    margin: 0 0 5px 0;
    padding: 5px 0 5px 20px;
}

.errorExplanation li {
    color: #000;
    margin: 0;
    margin-left: 0;
    padding: 0;
}

.errorExplanation p {
    font-size: 90%;
    color: #000;
    background: #eee;
    margin: 0;
    padding: 5px;
}

.fieldWithErrors {
    display: inline;
}

.fieldWithErrors input, .fieldWithErrors select, .fieldWithErrors textarea, .fieldWithErrors iframe {
    border: 1px solid #999;
    border-left: 4px solid #c00;
}


.content-header {
    font-weight: bold;
    padding: 0 0 0.1em 0;
    margin: 1em 2px 0.5em 2px;
    border-bottom: 1px solid #eee;
    font-size: 95%;
}

.content-footer {
    font-weight: bold;
    font-size: 90%;
    border-top: 1px solid #eee;
    margin: 2em 0 0 0;
    padding: 0.2em 2px 0 2px;
}

#flash-box-container {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #f6f6f9;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    opacity: 0.90;
    z-index: 100;
    cursor: pointer;
}

#flash-box-container #flash-box {
    padding: 1em 6em
}

#flash-box-container .content {
    padding: 2px;
    font-weight: bold;
    text-align: center;
}

#flash-box-container .error {
    color: #c00;
}

#flash-box-container .warning {
    color: #660;
}

#flash-box-container .notice {
    color: #44aa00;
}


ul.sortable {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.sortable li {
    border: 1px solid #e8e8e8;
    padding: 3px 3px 3px 18px;
    margin: 5px 0;
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/sortable.png);
    background-repeat: no-repeat;
    background-position: center left;
}

ul.sortable * {
    cursor: pointer;
}

/* inplace editor */

.inplaceeditor-form {
    font-weight: normal;
    margin: 1em 0;
}

.inplaceeditor-form .editor_field {
    border: 1px solid #999;
    background-color: #fff;
}


.inplaceeditor-form textarea.editor_field {
    margin: 0 0 5px 0;
}

.inplaceeditor-form input.editor_field {
    width: 50%;
    margin: 0 5px 0 0;
}

.page-title .inplaceeditor-form {
    display: inline;
    font-size: 45%;
}

h1 .inplaceeditor-form {
    display: inline;
    font-size: 50%;
}

h2 .inplaceeditor-form {
    display: inline;
    font-size: 70%;
}

h3 .inplaceeditor-form {
    display: inline;
    font-size: 90%;
}


.inplaceeditor-form .editor_ok_button {
    border: 1px solid #666;
    background-color: #fff;
}

.inplaceeditor-form .editor_ok_button:hover {
    color: #fff;
    background-color: #44aa00;
}

.inplaceeditor-form .editor_cancel {
    margin: 0 0 0 10px;
}

.inplaceeditor-handle {
    font-weight: bold;
    font-size: 85%;
}

.inplaceeditor-inline-handle {
    display: inline;
}

h1 .inplaceeditor-inline-handle {
    font-size: 50%;
}

h2 .inplaceeditor-inline-handle {
    font-size: 60%;
}

h3 .inplaceeditor-inline-handle {
    font-size: 70%;
}


/*******************************************
 *
 * MODULES
 *
 *******************************************/

/* admin */

table.group-permission-table .permission {
    font-size: 90%;
}


/* projects */

.project-info-link {
    font-size: 70%;
    font-weight: normal;
}

.project-info {
    border: 1px solid #ccc;
    background-color: #fafafa;
    margin: 10px 0;
}

.project-info div {
    padding: 20px;
}


/* repository */


table.line-numbered-code {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

table.line-numbered-code td {
    margin: 0;
    padding: 0;
    font: 115% monospace;
    white-space: pre;
}

table.line-numbered-code th {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/record_list/header_bg.gif);
    background-repeat: repeat-x;
    background-color: #217821;
    border: 1px solid #217821;
    color: #fff;
    padding: 2px 0;
    font-size: 95%;
}

table.line-numbered-code td.ln {
    text-align: right;
    vertical-align: top;
    background: #f3f3f6;
    color: #217821;
    padding: 2px;
    width: 3em;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
}

table.line-numbered-code td.code {
    padding: 0 0 0 1em;
    white-space: pre;
}

table.line-numbered-code td.insert {
    background-color: #e8ffe8;
    border-right: 1px solid #090;
}

table.line-numbered-code td.delete {
    border-right: 1px solid #c00;
    background-color: #ffe8e8;
}


table.line-numbered-code .r {
    color: #c00;
    font-weight: bold;
}

table.line-numbered-code .pc { /* eg. self, nil, etc */
    color: #c00;
}

table.line-numbered-code .pt { /* eg. int, char, boolean, etc. */
    color: #02c;
}

table.line-numbered-code .sy { /* symbol */
    color: #29F;
}

table.line-numbered-code .c { /* comment */
    color: #486;
}


table.line-numbered-code .s { /* strings */
    color: #46c;
}

table.line-numbered-code .k { /* strings */
    color: #46c;
}

table.line-numbered-code .dl {
    color: #000;
    font-weight: bold;
}


table.line-numbered-code .cl { /* class names */
    color: #111;
    font-weight: bold;
}

table.line-numbered-code .fu { /* functions */
    color: #111;
    font-weight: bold;
}

table.line-numbered-code .co { /* constants */
    color: #111;
    font-weight: bold;
}

table.line-numbered-code .iv { /* instance variables */
    color: #048;
    font-weight: bold;
}

table.line-numbered-code .cv { /* class variables */
    color: #048;
    font-weight: bold;
}


table.line-numbered-code .il {
    color: #000;
    background-color: #eee;
}

table.line-numbered-code .idl {
    color: #000;
    font-weight: bold;
}


table.line-numbered-code .ta {
    color: #508;
}

table.line-numbered-code .an {
    color: #859;
}


/* repository :: browse */

#repository-browser {
}

#repository-browser h2.browseable-path {
    margin-top: 0;
}

#repository-browser h2.browseable-path a {
    color: #000;
}

#repository-browser h2.browseable-path a:hover {
    background: none;
    color: #44aa00;
}

#repository-browser .recordList .commit-message {
    width: 40%;
    font-size: 90%;
    font-weight: normal;
    color: #666;
}

#repository-browser .recordList td {
    white-space: nowrap;
}

#repository-browser .recordList td a {
    display: block;
}

#repository-browser .recordList td.entry-type a {
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 20px;
}

#repository-browser .recordList td.entry-type-up a {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/icon_up.png);
}

#repository-browser .recordList td.entry-type-file a {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/icon_file.png);
}

#repository-browser .recordList td.entry-type-text a {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/icon_file_text.png);
}

#repository-browser .recordList td.entry-type-image a {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/icon_file_image.png);
}

#repository-browser .recordList td.entry-type-dir a {
    background-image: url(/web/20111001221013im_/http://www.callweaver.org/images/icon_folder.png);
}

#repository-browser .node-link {
    font-weight: bold;
    font-size: 95%;
    margin: 0 0 0.5em 0;
}

#repository-browser .node-info {
    background-color: transparent;
    border: 0;
    margin: 1.5em 0;
    padding: 0;
}

#repository-browser .node-info dd {
    font-weight: normal;
    font-size: 95%;
    padding-top: 1px;
}

#repository-browser .node-info dd p {
    font-weight: normal;
}

#repository-browser .node-info .svn-property {
    font-style: italic;
    font-weight: normal;
    color: #999;
}

#repository-browser .node-info .revision-chooser form {
    display: inline;
    padding: 0;
    margin: -1px 0 0 0;
}

#repository-browser .node-info .revision-chooser input {
    font-size: 95%;
    font-weight: normal;
    padding: 0;
    margin: 0;
}


/* repository :: changesets */

div.changeset-info {
    margin: 0 0 3em 0;
}

div.changeset-info div {
    color: #217821;
}

div.changeset-info div.commit-info {
    font-weight: bold;
}

div.changeset-info div.log {
    margin: 0.5em 0 0 0;
    font-size: 90%;
}

div.changeset-info div.log p {
}


/* repository :: changeset */

div.changeset {
}

div.changeset .content-header {
    margin: 0 2px 1.5em 2px;
}


div.changeset ul {
    list-style: none;
    padding: 0 0 0 2em;
}

div.changeset ul li {
    margin: 0;
    padding: 0;
}


div.changeset div.log {
    border: 1px solid #999;
    background-color: #f6f6f9;
    padding: 1em 2em;
    margin: 1.5em 0;
    font-size: 90%;
}

div.changeset div.log p {
}


div.changeset div.diff {
    margin: 2em 0;
}

div.changeset div.diff h3 small {
    font-size: 70%;
}


/* tickets :: index */

div.ticket-content-header {
    margin: 0;
    border-bottom: 1px solid #ccc;
}

#ticket-list .recordList .header th {
    text-align: left;
}

#ticket-list .recordList .resolved-ticket td {
    color: #666;
}

#ticket-list .recordList .minor-ticket td {
}

#ticket-list .recordList .critical-ticket td {
}

#ticket-list .recordList .blocker-ticket td {
}

#ticket-list .recordList .enhancement-ticket td {
}


#ticket-filter-selector, #ticket-report-selector {
    clear: right;
}

.ticket-internal-navigation {
    border-top: 0;
    max-height: 16em;
    overflow: auto;
}

#ticket-report-selector dd {
    padding: 2px 0 3px 0;
    margin-right: 30%;
    border-bottom: 1px solid #eee;
}


/* tickets :: new/show */

h2.ticket-summary {
    margin-top: 0;
}

table.ticket-details {
}

table.ticket-details th {
    text-align: left;
}

table.ticket-details td {
    padding: 1px 30px 1px 10px;
}

table.ticket-details select {
    width: 195px;
}

table.ticket-details input {
    width: 191px;
}

.ticket-created {
    color: #999;
    text-align: right;
    font-size: 90%;
}

.ticket-info {
    width: 720px;
    display: block;
    margin: 5px 0 5px 0;
    padding: 10px 20px 20px 20px;
    border: 1px solid #666;
    background: #f6f6f9;
}

.ticket-info .content {
    margin: 10px 0 0 0;
    padding: 10px 0 0 0;
    border-top: 1px solid #999;
}

.ticket-info .content pre {
    background-color: #fff;
}

.ticket-info .attachment {
    margin: 3px 0 0 0;
    padding: 3px 0 0 0;
    border-top: 1px solid #999;
    text-align: right;
}

.ticket-info #ticket-content {
    padding: 5px 0;
}

.ticket-info #ticket-content *:first-child {
    margin-top: 0;
}


.ticket-changes .ticket-change {
    margin: 10px 0;
    padding: 10px;
}

.ticket-changes .ticket-change ul {
    margin-top: 0;
    margin-bottom: 0;
}

.ticket-changes .ticket-change li {
}


.ticket-changes .ticket-change .comment {
    margin: 0;
    padding: 0 15px;
}

.ticket-changes .markup *:first-child {
    margin-top: 5px;
}

.ticket-changes .markup p {
    margin: 0.5em 0;
    padding: 0;
}

.ticket-changes .ticket-change .header {
    font-weight: bold;
    font-size: 110%;
    margin: 2px 0;
    border-bottom: 1px solid #ddd;
}


/* milestones */

.milestone {
    border: 1px solid #666;
    background: #f6f6f9;
    padding: 1em;
    margin: 0 0 30px 0;
}

.milestone .title {
    margin-top: 0;
}

.milestone .status {
    color: #217821;
    font-weight: bold;
    font-size: 90%;
    text-align: right;
    float: right;
}

.milestone .info {
    clear: right;
    color: #217821;
}

.milestone .progress {
    margin: 10px 0 0 0;
    border: 1px solid #999;
    background: #fff;
    padding: 1px 2px 1px 1px;
}

.milestone .completed {
    background: #44aa00;
}

.milestone .details {
    font-size: 90%;
    margin: 5px 0;
    font-weight: bold;
    color: #217821;
    text-align: left;
}


/* search */
.search-result {
    margin: 2em 0 0 0;
    padding: 0 1em;
}

.search-result h3 {
    border-bottom: 1px solid #ddd;
}

.search-result .content {
    margin: 0;
    padding: 0;
    font-size: 90%;
}

.search-result .content p {
    margin: 0.2em 0;
}

.nothere {
    display: none;
}
